.button-wrapper {
  border: 2px solid black;
  display: inline-block;
  position: relative; }
  .button-wrapper:hover .button {
    top: 0;
    left: 0; }
  .button-wrapper .button {
    position: relative;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: aqua;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    transition: all 0.5s ease-in-out; }
