.story {
  border: 2px solid black; }
  .story .story--title {
    text-align: center;
    padding: 0.5rem; }
  .story .story--details {
    font-size: 0.75rem;
    padding: 0.5rem;
    text-align: center;
    color: #404040; }
  .story .story--image--wrapper {
    border-bottom: 2px solid black;
    padding: 2rem;
    text-align: center;
    position: relative; }
    .story .story--image--wrapper .story--image {
      position: relative;
      width: 100%; }
  .story .story--text {
    padding: 0.25rem 1rem; }
    .story .story--text .story--text--section {
      margin-bottom: 3rem; }
      .story .story--text .story--text--section p {
        margin: none; }
