.story {
  border: 2px solid black; }
  .story .story--image--wrapper {
    border-bottom: 2px solid black; }
  .story .story--text {
    padding: 0.25rem 1rem; }
    .story .story--text .story--text--section {
      margin-bottom: 3rem; }
      .story .story--text .story--text--section p {
        margin: none; }
